:root {
	--color-white: #ffffff;
	--color-light-bg: #fcfcfc;
	--color-gray: #333333;
	--color-dark-bg: #3c3c3c;
	--color-blue: #3e29fa;
	--color-purple: #b8b0ff;
}

html {
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
}

main {
	padding: 15px;
	max-width: 700px;
	margin: 0 auto;
}

h1 {
	font-size: 1.6rem;
}

h2 {
	font-size: 1.4rem;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

.text-center {
	text-align: center;
}

.is-hidden {
	display: none !important;
}

.question {
	border: 1px solid #000;
	border-radius: 10px;
	padding: 15px;
	margin: 15px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.question:last-of-type input[type=checkbox] + label::before,
.question:last-of-type input[type=checkbox] + label::after {
	visibility: hidden;
}

.question:last-of-type label {
	cursor: default !important;
}

.question p {
	width: 100%;
	padding-left: 40px;
	position: relative;
}

.question p:before {
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	background-image: url('./info.svg');
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

input[type=checkbox] { 
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

input[type=checkbox] + label { 
	position: relative; 
	font-size: 1.5rem;
	cursor: pointer; 
	display: inline-flex; 
	align-items: center; 
	padding-left: 2px;
}

input[type=checkbox] + label::before {
	content: " "; 
	display: inline-block; 
	vertical-align: middle; 
	margin-right: 15px; 
	width: 20px; 
	height: 20px; 
	border-width: 1px; 
	border-style: solid;
	border-radius: 2px; 
	box-shadow: none; 
	flex-shrink: 0;
}

input[type=checkbox]:checked + label::after { 
	content: " "; 
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZGUxZmNiIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
	background-repeat: no-repeat; 
	background-size: 18px 18px; 
	background-position: center center; 
	position: absolute; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	margin-left: 1px; 
	text-align: center; 
	font-size: 10px; 
	height: 20px; 
	width: 20px; 
}

/* Styles for light mode */
@media (prefers-color-scheme: light) {
	body {
		background-color: var(--color-white);
		color: var(--color-gray);
	}

	a {
		color: var(--color-blue);
	}

	.question {
		border-color: #ddd;
		background-color: var(--color-light-bg);
	}

	input[type=checkbox]:checked + label::after { 
		background-color: var(--color-white);
	}
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--color-gray);
		color: var(--color-white);
	}

	a {
		color: var(--color-purple);
	}

	.question {
		border-color: #666;
		background-color: var(--color-dark-bg);
	}

	input[type=checkbox]:checked + label::after { 
		background-color: var(--color-light-bg);
	}
}
